/* Scss Document */

/* =====================
お問い合わせフォームのスタイル
===================== */

// 色を指定
$black: #444;
$white: #fff;
$grey-60: #ccc;
$grey-20: #f5f5f5;
$orange-100: #ff8d41;
$orange-60: #f6ad3b;
$orange-20: #f7ebbb;
$red-100: #fe6666;
$red-60: #ffa3a3;

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

#wrapper {
	animation: none;
}

#contact-main {
	background: 
    linear-gradient(rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)), 
    url("../images/photo/contact.jpg");
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position: center;
	position: relative;
	margin-bottom: 20px;
	
	h2 {
		color: $white;
		font-size: 18px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
	
	h2:before,
	h2:after {
		display: none;
	}
}

main {
	width: 95%;
	margin: 0 auto;
}

main article {
	margin-bottom: 20px;
	padding-bottom: 20px;
	max-width: 600px;
	margin: 0 auto;
	
	p {
		margin-bottom: 20px;
		width: 100%;
	}
}

form dl dt {
	margin-bottom: 5px;
}

form dl dd {
	margin-bottom: 30px;
	position: relative;
}

/* インプットボックスの枠線の指定 */
form dl dd input,
form dl textarea {
	width: 100%;
	border: 1px solid $grey-60;
	border-radius: 5px;
	font-size: 16px;
	padding: 5px;
}

/* インプットにフォーカスされた時の枠の指定 */
form dl dd input:focus, 
form dl textarea:focus {
	outline: none;
	border: 1px solid $orange-100;
}

/* インプットのプレースホルダーの色指定 */
::placeholder {
	color: $grey-60;
	padding-left: 5px;
}

form dl dd input {	
	line-height: 32px;
	padding: 0;
}

form dl dd textarea {
	max-width: 800px;
	height: 100px;
	resize: none;
}

/* 「必須」ラベルのスタイル */
.required_label {
	background: $red-100;
	color: $white;
	font-size: 14px;
	padding: 3px;
	border-radius: 5px;
	margin-left: 5px;
}

form #button_wrapper {
	display: flex;
	justify-content: space-around;
}

/* 修正・送信ボタンの共通スタイル */
form input[type="button"],
form input[type="submit"] {
	margin: 0;
	background: $orange-100;
	color: $white;
	display: block;
	text-align: center;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	line-height: 40px;
	width: 100%;
}

/* 修正ボタン */
form input[type="button"] {
	color: $black;
	background: $white;
	text-decoration: underline;
	width: 30%;
}

/* 送信ボタン */
form input[type="submit"][value="送信"] {
	width: 70%;
}

form input[type="submit"]:hover {
	cursor: pointer;
	background: $white;
	border: 1px solid $orange-100;
	color: $orange-100;
	line-height: 38px;
}

form input[type="button"]:hover {
	cursor: pointer;
	background: $white;
	color: $orange-100;
}

/* ------------------------------
エラー関連
------------------------------ */
/* エラーテキスト */
.error {
	color: $red-100;
	font-size: 14px;
	line-height: 14px;
}

/* エラー時のインプットの枠線 */
.has-error {
	border: 1px solid $red-100;
}

.has-error:focus {
	outline: none;
}

/* エラーテキストの位置 */
.name_error, 
.email_error{
	position: absolute;
	top: 36px;
}

.content_error {
	position: absolute;
	top: 100px;
}

/* ------------------------------
確認画面
------------------------------ */
.confirm_box {
	border: 1px solid $grey-20;
	border-radius: 5px;
	padding: 5px;
}

/* ------------------------------
お問い合わせ完了後
------------------------------ */
#complete {
	max-width: 600px;
	margin: 0 auto;
}

#complete p img {
	margin: 0 auto;
	display: block;
	width: 75px;
}

#complete .complete_message {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}

#complete .complete_back {
	color: $white;
	background: $orange-100;
	font-size: 20px;
}

/* ===============================================
タブレット/PC用
=============================================== */
@media screen and (min-width:600px) {
	#contact-main {
		height: 200px;
	}
	
	#contact_main h2 {
		font-size: 25px;
	}
}
