@charset "UTF-8";
/* デバイス共通のスタイルを指定 */
body {
  font: 16px/1.5 "Zen Kaku Gothic New", "sans-serif";
  background: #fff;
  color: #444; }

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: transparent; }

/* コンテンツをフェードインで表示*/
#wrapper {
  width: 100%;
  animation: wrapper-fadein 1s; }

@keyframes wrapper-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* =================================================================================================
SP版の指定
================================================================================================= */
/* ------------------------------
フォント指定
------------------------------ */
h1 {
  font: 500 36px/1.5 "Zen Kaku Gothic New", "sans-serif";
  text-align: center; }

h2 {
  font: bold 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
  text-align: center;
  position: relative;
  margin-bottom: 20px; }

h3 {
  font: 20px/1.5 "Zen Kaku Gothic New", "sans-serif";
  margin-bottom: 20px; }

strong {
  font-weight: bold; }

.orange {
  color: #ff8d41; }

.orange-lg {
  font: bold 36px/1.5 "Zen Kaku Gothic New", "sans-serif";
  color: #ff8d41; }

.orange-md {
  font: bold 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
  color: #ff8d41; }

.text-lg {
  font: bold 36px/1.5 "Zen Kaku Gothic New", "sans-serif"; }

.text-md {
  font: 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
  font-weight: bold; }

.text-sm {
  font: 12px/1.5 "Zen Kaku Gothic New", "sans-serif"; }

/* ------------------------------
コンポーネント
------------------------------ */
/* テキスト関連 */
article {
  margin-bottom: 100px; }

p {
  margin: 0 auto 20px;
  width: 90%; }

/* ボタン共通 */
.btn {
  border-radius: 25px;
  margin: 0 auto;
  position: relative; }
  .btn img {
    width: 24px;
    display: inline-block;
    padding-bottom: 5px;
    vertical-align: middle; }
  .btn a {
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }

/* ボタンの中のアイコン */
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  vertical-align: middle;
  margin-bottom: 5px; }

.icon-down-white {
  background-image: url("../images/icon/arrow-down-white.svg"); }

.icon-newtab-white {
  background-image: url("../images/icon/new-tab-white.svg"); }

.icon-newtab-orange {
  background-image: url("../images/icon/new-tab-orange.svg"); }

.icon-newtab-black {
  background-image: url("../images/icon/new-tab-black.svg"); }

a:hover .icon-down-white {
  background-image: url("../images/icon/arrow-down-red.svg"); }
a:hover .icon-newtab-white {
  background-image: url("../images/icon/new-tab-red.svg"); }
a:hover .icon-newtab-red {
  background-image: url("../images/icon/new-tab-white.svg"); }
a:hover .icon-newtab-orange {
  background-image: url("../images/icon/new-tab-white.svg"); }
a:hover .icon-newtab-black {
  background-image: url("../images/icon/new-tab-orange.svg"); }

.btn-orange-lg a:hover .icon-newtab-white {
  background-image: url("../images/icon/new-tab-orange.svg"); }

/* ボタン：赤・大 */
.btn-red-lg {
  background: #fe6666;
  width: 300px;
  height: 42px; }
  .btn-red-lg a {
    color: #fff; }

.btn-red-lg a:hover {
  background: #fff;
  border: 1px solid #fe6666;
  border-radius: 25px;
  color: #fe6666; }

/* ボタン：オレンジ・大 */
.btn-orange-lg {
  background: #ff8d41;
  width: 300px;
  height: 42px; }
  .btn-orange-lg a {
    color: #fff; }

.btn-orange-lg a:hover {
  background: #fff;
  border: 1px solid #ff8d41;
  border-radius: 25px;
  color: #ff8d41; }

/* ボタン：オレンジ・大・枠線*/
.btn-orange-lg-border {
  border: 1px solid #ff8d41;
  background: #fff;
  width: 300px;
  height: 42px; }
  .btn-orange-lg-border a {
    color: #ff8d41; }

.btn-orange-lg-border a:hover {
  background: #ff8d41;
  border-radius: 25px;
  color: #fff; }

/* ボタン：オレンジ・小 */
.btn-orange-sm {
  border: 1px solid #ff8d41;
  background: #fff;
  width: 150px;
  height: 42px; }
  .btn-orange-sm a {
    color: #ff8d41; }

.btn-orange-sm a:hover {
  background: #ff8d41;
  border-radius: 25px;
  color: #fff; }

/*　トップに戻るボタン　*/
.page-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  z-index: 99; }

.page-top a {
  background: #f7ebbb;
  text-decoration: none;
  padding: 12.5px 10px 10px 10px;
  opacity: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 1px 2px 6px #ccc;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
  position: relative; }

.icon-arrowup {
  background-image: url("../images/icon/arrow-up-black.svg");
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.page-top a:hover {
  opacity: 1;
  background: #f6ad3b;
  box-shadow: none; }
  .page-top a:hover .icon-arrowup {
    background-image: url("../images/icon/arrow-up-white.svg"); }

/* h2のスタイル指定 */
h2:before {
  color: #f7ebbb;
  font: italic 96px/1.5 "Lato", "sans-serif";
  text-align: center;
  opacity: 50%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }

h2:after {
  content: url("../images/illustration/rainbow-border.svg");
  display: inline-block;
  width: 150px; }

/* ------------------------------
スクロールでフェードインのアニメーション
------------------------------ */
.fade-in {
  opacity: 0;
  transition-duration: 1000ms;
  transition-property: opacity, transform;
  transform: translate(0, 50px); }

.scroll-in {
  opacity: 1;
  transform: translate(0, 0); }

/* ------------------------------
ヘッダー
------------------------------ */
.header-logo {
  width: 200px;
  margin: 20px 0 20px 20px; }

/* ------------------------------
メニュー・ナビゲーション
------------------------------ */
/* クリックエリアと位置を指定 */
.btn-hamburger {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 30px;
  /* クリックエリアの横幅*/
  height: 30px;
  /* クリックエリアの高さ*/
  cursor: pointer;
  z-index: 100; }

/* 2本線の1本ごとに共通するスタイルを指定 */
.btn-hamburger .line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  /* 横幅 */
  height: 4px;
  /* 1本辺りの高さ */
  background: #444;
  /* 線の色 */
  transition: 0.3s; }

/* 3本線の各線の位置を指定 */
.btn-hamburger .line-1 {
  top: 8px; }

.btn-hamburger .line-2 {
  top: 16px; }

.btn-hamburger .line-3 {
  top: 24px; }

/* #coverlayer クリック前 */
#cover-layer {
  width: 1px;
  background: #f7ebbb;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s;
  z-index: 100; }

/* nav　クリック前 */
nav {
  position: fixed;
  width: 300px;
  top: 60px;
  right: -300px;
  opacity: 0;
  transition: 0.5s;
  z-index: 100; }
  nav ul li a {
    color: #444;
    text-decoration: none;
    line-height: 60px;
    display: block;
    text-align: center;
    font-size: 20px; }
  nav ul li a:hover {
    color: #ff8d41; }

/* 最上部の線のスタイル */
.btn-hamburger.is-active .line-1 {
  top: 18px;
  /* 上から2番目の線の位置に変更 */
  background: #444;
  /* 線を45度回転 */
  transform: rotate(45deg); }

/* 最下部の線のスタイル */
.btn-hamburger.is-active .line-2 {
  opacity: 0; }

.btn-hamburger.is-active .line-3 {
  top: 18px;
  /* 上から2番目の線の位置に変更 */
  background: #444;
  /* 線を135度回転 */
  transform: rotate(135deg); }

/* #coverlayer クリック後 */
#cover-layer.is-active {
  width: 100%;
  opacity: 1; }

/* nav クリック後 */
nav.is-active {
  right: 50%;
  transform: translateX(50%);
  opacity: 1; }

/* ------------------------------
メインビジュアル
------------------------------ */
#top-main {
  position: relative;
  margin: 0 auto 200px;
  max-width: 500px; }
  #top-main h1 {
    margin-bottom: 45px; }
  #top-main p {
    font: 12px/1.5 "Zen Kaku Gothic New", "sans-serif";
    margin-bottom: 25px;
    text-align: center; }
  #top-main .supporter-logo {
    margin: 0 auto 130px;
    width: 200px; }
  #top-main .happy-img-1 {
    position: absolute;
    width: 90px;
    top: 85px;
    left: 2vw;
    z-index: -1;
    animation: img-fadein 1s 1s forwards;
    opacity: 0; }
  #top-main .happy-img-2 {
    position: absolute;
    width: 65px;
    top: 365px;
    left: 20vw;
    z-index: -1;
    animation: img-fadein 1s 1.1s forwards;
    opacity: 0; }
  #top-main .happy-img-3 {
    position: absolute;
    width: 60px;
    top: 395px;
    right: 25vw;
    z-index: -1;
    animation: img-fadein 1s 1.2s forwards;
    opacity: 0; }
  #top-main .happy-img-4 {
    position: absolute;
    width: 65px;
    top: 190px;
    left: 2vh;
    z-index: -1;
    animation: img-fadein 1s 1.3s forwards;
    opacity: 0; }
  #top-main .happy-img-5 {
    position: absolute;
    width: 85px;
    top: 290px;
    left: 1vw;
    z-index: -1;
    animation: img-fadein 1s 1.4s forwards;
    opacity: 0; }
  #top-main .happy-img-6 {
    position: absolute;
    width: 95px;
    top: 320px;
    right: 5vw;
    z-index: -1;
    animation: img-fadein 1s 1.5s forwards;
    opacity: 0; }
  #top-main .happy-img-7 {
    position: absolute;
    width: 60px;
    top: 225px;
    right: 4vw;
    z-index: -1;
    animation: img-fadein 1s 1.6s forwards;
    opacity: 0; }
  #top-main .happy-img-8 {
    position: absolute;
    width: 85px;
    top: 110px;
    right: 3vw;
    z-index: -1;
    animation: img-fadein 1s 1.7s forwards;
    opacity: 0; }

@keyframes img-fadein {
  0% {
    transform: translate3d(0, 30px, 0); }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
/* 
  animationプロパティ（の中のtransform）がrellax.jsとコンフリクトするので
  animationが終わってからaddClassでanimationを上書きしてからrellaxを発動
*/
.no-transform {
  animation: none !important;
  opacity: 1 !important; }

/* ------------------------------
わたしたちの取り組む課題
------------------------------ */
#issue h2:before {
  content: "Issue"; }

.stress,
.suicide {
  background: #f5f5f5;
  position: relative;
  margin: 100px 0 120px;
  padding-bottom: 20px; }
  .stress img,
  .suicide img {
    display: block;
    position: absolute;
    top: -67px;
    left: 50%;
    transform: translateX(-50%); }
  .stress h3,
  .suicide h3 {
    padding-top: 87px;
    text-align: center;
    margin-bottom: 20px; }
  .stress p,
  .suicide p {
    margin: 0 auto 20px;
    max-width: 350px;
    width: 100%; }

/* ------------------------------
わたしたちの主な取り組み
------------------------------ */
#action h2:before {
  content: "Action"; }

.ui-tabs .ui-tabs-nav {
  background: #fff;
  border: none;
  text-align: center;
  max-width: 320px; }
  .ui-tabs .ui-tabs-nav li {
    float: none !important;
    display: inline-block; }

/* タブで表示する部分の指定 */
#action-tab,
#numbers-tab {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 6px #ccc;
  padding-bottom: 10px;
  height: 600px;
  margin: 0 auto;
  max-width: 320px;
  position: relative; }
  #action-tab .ui-widget-header,
  #numbers-tab .ui-widget-header {
    border: none;
    margin: 0 auto; }
  #action-tab .ui-state-default,
  #numbers-tab .ui-state-default {
    background: #fff;
    border: none;
    border-bottom: 3px solid #fff; }
    #action-tab .ui-state-default a,
    #numbers-tab .ui-state-default a {
      color: #444; }
  #action-tab .ui-state-active,
  #numbers-tab .ui-state-active {
    background: #fff;
    border-bottom: 3px solid #ff8d41; }
    #action-tab .ui-state-active a,
    #numbers-tab .ui-state-active a {
      color: #ff8d41;
      font-weight: bold; }
  #action-tab ul li,
  #numbers-tab ul li {
    margin: 0 auto; }
  #action-tab ul li a,
  #numbers-tab ul li a {
    font: 12px/1.5 "Zen Kaku Gothic New", "sans-serif"; }
  #action-tab .tab-img img,
  #numbers-tab .tab-img img {
    display: block;
    margin: 0 auto;
    max-width: 200px; }
  #action-tab h3,
  #numbers-tab h3 {
    background: #f7ebbb;
    font: 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
    text-align: center;
    margin: 0 auto 20px;
    max-width: 300px;
    line-height: 50px; }
  #action-tab p,
  #numbers-tab p {
    max-width: 250px;
    margin-bottom: 20px; }
  #action-tab .btn,
  #numbers-tab .btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }

/* ------------------------------
わたしたちの主な実績
------------------------------ */
#numbers h3,
#voices h3 {
  font: 20px/1.5 "Zen Kaku Gothic New", "sans-serif";
  font-weight: bold;
  text-align: center; }

#numbers h2:before {
  content: "Numbers"; }
#numbers .text-sm {
  text-align: center; }

#numbers-tab {
  height: 380px;
  margin-bottom: 50px; }
  #numbers-tab .tab-img img {
    max-width: 150px; }
  #numbers-tab h4 {
    font: 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
    text-align: center;
    margin-bottom: 20px; }
  #numbers-tab p {
    text-align: center;
    margin-bottom: 10px; }

.numbers-graph {
  display: flex; }
  .numbers-graph .numbers-contact,
  .numbers-graph .numbers-respond {
    width: 40%;
    height: 320px;
    margin: 0 auto; }
  .numbers-graph .numbers-respond {
    padding-top: 125px; }
  .numbers-graph .contact-text,
  .numbers-graph .respond-text {
    width: 100%; }
  .numbers-graph .graph-container {
    overflow: hidden; }
  .numbers-graph .contact-graph {
    background: #f7ebbb;
    width: 50px;
    height: 200px;
    margin: 0 auto;
    transform: translateY(200px); }
  .numbers-graph .respond-graph {
    background: #f6ad3b;
    width: 50px;
    height: 75px;
    margin: 0 auto;
    transform: translateY(75px); }
  .numbers-graph h4 {
    font: 20px/1.5 "Zen Kaku Gothic New", "sans-serif";
    margin-bottom: 0;
    text-align: center; }
  .numbers-graph p {
    text-align: center; }

/* グラフのアニメーションの指定 */
.numbers-anime {
  animation: graph-anime 3s forwards; }

@keyframes graph-anime {
  100% {
    transform: translateY(0); } }
/* ------------------------------
利用者・サポーターの声
------------------------------ */
#voices {
  /* ドットのスタイル */
  /* 矢印のスタイル */ }
  #voices h2:before {
    content: "Voices"; }
  #voices .slider {
    margin: 0 auto 60px;
    max-width: 320px; }
  #voices .slide {
    border-radius: 10px;
    box-shadow: 0 2px 6px #ccc;
    margin: 5px; }
  #voices .user-slide {
    height: 500px; }
  #voices .supporter-slide {
    height: 570px; }
  #voices .slide-img {
    display: block;
    width: 100px;
    margin: 0 auto 10px;
    padding-top: 10px; }
  #voices .slide-name {
    text-align: center; }
  #voices .slide-text {
    padding-bottom: 10px;
    margin-bottom: 10px;
    max-width: 280px;
    width: 100%; }
  #voices .slick-dots {
    bottom: -30px; }
  #voices .slick-dots li button:before {
    color: #ccc;
    font-size: 14px;
    opacity: 1.0; }
  #voices .slick-dots li.slick-active button:before {
    color: #f6ad3b; }
  #voices .slick-prev:before,
  #voices .slick-next:before {
    color: #f6ad3b;
    font-size: 40px; }
  #voices .slick-next,
  #voices .slick-prev {
    width: 40px;
    height: 40px;
    z-index: 10; }
  #voices h4 {
    font: 20px/1.5 "Zen Kaku Gothic New", "sans-serif";
    text-align: center;
    margin-bottom: 10px; }

/* ------------------------------
ご寄付の活用方法
------------------------------ */
#usage h2:before {
  content: "Usage"; }
#usage .usage-text {
  background: #f5f5f5;
  position: relative;
  margin: 100px 0 60px;
  padding-bottom: 20px; }
  #usage .usage-text .usage-text-padding {
    padding-top: 107px; }
#usage .usage-img-1 {
  display: block;
  position: absolute;
  top: -67px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px; }
#usage .usage-example .usage-box {
  margin-bottom: 40px; }
#usage .usage-example h3 {
  margin-bottom: 20px;
  text-align: center; }
#usage .usage-example p {
  text-align: center; }
#usage .usage-example .usage-img {
  display: block;
  margin: 0 auto;
  width: 200px; }
#usage .usage-example .orange-box {
  background: #ff8d41;
  border-radius: 5px;
  color: #fff;
  padding: 0 5px;
  margin-right: 5px; }

/* ------------------------------
支援の方法
------------------------------ */
#donate h2:before {
  content: "Donate"; }
#donate .donate-supporter,
#donate .donate-onetime {
  background: #f5f5f5;
  border-radius: 10px;
  margin: 0 auto 30px;
  width: 90%; }
#donate .supporter-logo img {
  display: block;
  padding-top: 20px;
  margin: 0 auto;
  width: 200px; }
#donate .orange {
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center; }
#donate h3 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; }
#donate .donate-text {
  width: 70%; }
#donate .btn-red-lg {
  margin-bottom: 20px; }
#donate .credit-img {
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 300px; }

/* ------------------------------
よくあるご質問
------------------------------ */
#faq h2:before {
  content: "FAQ"; }
#faq .faq-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%; }
#faq .orange-md {
  margin: 0 10px 5px 0;
  width: 5%; }
#faq .faq-q {
  font-weight: bold;
  line-height: 36px;
  margin: 0 0 5px 0;
  width: 85%; }
#faq .faq-a {
  margin-bottom: 40px; }
#faq .faq-graph {
  display: block;
  margin: 0 auto 20px;
  max-width: 350px;
  width: 90%; }

/* ------------------------------
もっと詳しく
------------------------------ */
#info {
  background: #f5f5f5;
  border-radius: 10px;
  padding-bottom: 20px;
  margin: 0 auto 40px;
  width: 90%; }
  #info h3 {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center; }
  #info .br-tb {
    display: none; }
  #info .btn-orange-lg {
    margin-bottom: 20px; }

/* ------------------------------
フッター
------------------------------ */
footer {
  background: rgba(247, 235, 187, 0.2);
  padding: 20px 0;
  text-align: center; }
  footer .footer-logo {
    display: block;
    margin: 0 auto 20px;
    width: 200px; }
  footer p {
    width: 90%; }
  footer small {
    font: 12px/1.5 "Zen Kaku Gothic New", "sans-serif";
    width: 90%; }

/* =================================================================================================
TB版の指定
================================================================================================= */
@media screen and (min-width: 720px) {
  /* ------------------------------
  フォント指定
  ------------------------------ */
  h1 {
    font: 500 64px/1.5 "Zen Kaku Gothic New", "sans-serif"; }

  h2,
  h3 {
    margin-bottom: 40px; }

  /* ------------------------------
  ヘッダー
  ------------------------------ */
  .header-logo {
    width: 300px; }

  /* ------------------------------
  メインビジュアル
  ------------------------------ */
  #top-main {
    margin: 0 auto 340px;
    max-width: 850px; }
    #top-main h1 {
      margin-bottom: 100px; }
    #top-main p {
      font: 16px/1.5 "Zen Kaku Gothic New", "sans-serif";
      margin-bottom: 40px; }
    #top-main .supporter-logo {
      margin: 0 auto 40px;
      width: 300px; }
    #top-main .happy-img-1 {
      width: 200px;
      top: 15vh;
      left: 1vw; }
    #top-main .happy-img-2 {
      width: 120px;
      top: 78vh;
      left: 20vw; }
    #top-main .happy-img-3 {
      width: 140px;
      top: 80vh;
      right: 18vw; }
    #top-main .happy-img-4 {
      width: 120px;
      top: 38vh;
      left: 10vw; }
    #top-main .happy-img-5 {
      width: 140px;
      top: 56vh;
      left: 5vw; }
    #top-main .happy-img-6 {
      position: absolute;
      width: 160px;
      top: 61vh;
      right: 1vh; }
    #top-main .happy-img-7 {
      position: absolute;
      width: 120px;
      top: 41vh;
      right: 10vw; }
    #top-main .happy-img-8 {
      position: absolute;
      width: 195px;
      top: 12vh;
      right: 1vw; }

  /* ------------------------------
  わたしたちの取り組む課題
  ------------------------------ */
  #issue .stress {
    padding-bottom: 40px;
    margin-top: 0;
    width: 65%; }
    #issue .stress h3 {
      padding-top: 40px;
      margin-left: 30px;
      text-align: left; }
    #issue .stress img {
      top: 50px;
      left: 85%;
      transform: none; }
    #issue .stress p {
      margin: 0 0 20px 30px;
      max-width: 360px; }
  #issue .suicide {
    padding-bottom: 40px;
    margin-left: 35%;
    width: 65%; }
    #issue .suicide h3 {
      padding-top: 40px;
      margin-left: 100px;
      text-align: left; }
    #issue .suicide img {
      top: 50px;
      left: -45%;
      transform: none; }
    #issue .suicide p {
      margin: 0 0 20px 100px;
      max-width: 360px; }

  /* ------------------------------
  わたしたちの主な実績
  ------------------------------ */
  #numbers #numbers-tab {
    box-shadow: none;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    max-width: none;
    width: 90%; }
    #numbers #numbers-tab ul {
      display: none; }
    #numbers #numbers-tab .numbers-box {
      width: 210px; }
  #numbers .numbers-situation {
    display: flex;
    flex-wrap: wrap; }
    #numbers .numbers-situation h3 {
      width: 100%; }
    #numbers .numbers-situation .numbers-graph {
      align-items: flex-end;
      width: 55%; }
    #numbers .numbers-situation .numbers-text {
      width: 40%; }

  /* ------------------------------
  利用者・サポーターの声
  ------------------------------ */
  #voices .slider {
    margin: 0 auto 60px;
    max-width: none; }
  #voices .slide {
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto 40px;
    width: 90%; }
  #voices .slide-r {
    flex-direction: row-reverse; }
  #voices .slide-profile {
    width: 30%; }
  #voices .slide-text {
    padding: 0;
    margin: 0;
    max-width: none; }
  #voices .slide-text-box {
    background: #f5f5f5;
    border-radius: 0;
    padding: 20px;
    margin: 0;
    position: relative;
    height: 100%;
    width: 70%; }
  #voices .slide-text-box:after {
    position: absolute;
    border-right: 40px solid #f5f5f5;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    content: "";
    margin-top: -10px;
    left: -30px;
    top: 20%; }
  #voices .slide-r .slide-text-box:after {
    border-right: none;
    border-left: 40px solid #f5f5f5;
    left: auto;
    right: -30px; }
  #voices h4 {
    text-align: left; }
  #voices .br-sp {
    display: none; }

  /* ------------------------------
  ご寄付の活用方法
  ------------------------------ */
  #usage .usage-text {
    margin: 100px 0 60px;
    padding: 40px 0;
    width: 65%; }
    #usage .usage-text .usage-text-padding {
      padding-top: 0; }
    #usage .usage-text p {
      margin-left: 30px;
      max-width: 350px; }
  #usage .usage-img-1 {
    left: 115%;
    width: 300px; }
  #usage .usage-example {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    #usage .usage-example h3 {
      width: 100%; }

  /* ------------------------------
  支援の方法
  ------------------------------ */
  #donate p {
    text-align: center; }

  /* ------------------------------
  よくあるご質問
  ------------------------------ */
  #faq .orange-md {
    font: 500 64px/1.5 "Zen Kaku Gothic New", "sans-serif";
    width: 7.5%; }
  #faq .faq-q {
    line-height: 96px; }
  #faq .faq-graph {
    width: 50%; }

  /* ------------------------------
  もっと詳しく
  ------------------------------ */
  #info .br-tb {
    display: inline; } }
/* =================================================================================================
PC版の指定
================================================================================================= */
@media screen and (min-width: 1000px) {
  article,
  aside {
    margin: 0 auto 300px;
    width: 980px; }

  #wrapper {
    position: relative; }

  /* ------------------------------
  フォント指定
  ------------------------------ */
  h1 {
    font: 500 64px/1.5 "Zen Kaku Gothic New", "sans-serif"; }

  h2 {
    font: bold 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
    text-align: left;
    position: relative;
    margin-bottom: 40px; }

  h2:before {
    font: italic bold 140px/1.5 "Lato", "sans-serif";
    text-align: left;
    top: -250%;
    left: 0%;
    transform: translate(0, 0); }

  h3 {
    font: 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
    margin-bottom: 20px; }

  p {
    width: 100%; }

  .orange-lg {
    font: bold 36px/1.5 "Zen Kaku Gothic New", "sans-serif"; }

  .orange-md {
    font: bold 24px/1.5 "Zen Kaku Gothic New", "sans-serif"; }

  .text-lg {
    font: 500 64px/1.5 "Zen Kaku Gothic New", "sans-serif"; }

  .text-md {
    font: 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
    font-weight: bold; }

  .text-sm {
    font: 12px/1.5 "Zen Kaku Gothic New", "sans-serif"; }

  /* ------------------------------
  ヘッダー
  ------------------------------ */
  .header-logo {
    width: 400px; }

  /* ------------------------------
  メニュー・ナビゲーション
  ------------------------------ */
  .btn-hamburger {
    top: 35px; }

  /* ------------------------------
  メインビジュアル
  ------------------------------ */
  #top-main {
    margin: 0 auto 340px;
    max-width: 1440px; }
    #top-main h1 {
      margin-bottom: 40px; }
    #top-main .supporter-logo {
      margin-bottom: 40px; }
    #top-main .btn-red-lg {
      position: fixed;
      top: 30px;
      right: 75px;
      z-index: 99; }
    #top-main .happy-img-1 {
      width: 200px;
      top: 8vh;
      left: 6vw; }
    #top-main .happy-img-2 {
      width: 120px;
      top: 71vh;
      left: 25vw; }
    #top-main .happy-img-3 {
      width: 160px;
      top: 70vh;
      right: 21vw; }
    #top-main .happy-img-4 {
      width: 120px;
      top: 35vh;
      left: 20vw; }
    #top-main .happy-img-5 {
      width: 200px;
      top: 48vh;
      left: 8vw; }
    #top-main .happy-img-6 {
      width: 160px;
      top: 57vh;
      right: 8vh; }
    #top-main .happy-img-7 {
      width: 130px;
      top: 40vh;
      right: 18vw; }
    #top-main .happy-img-8 {
      width: 195px;
      top: 7vh;
      right: 10vw; }

  /* ------------------------------
  わたしたちの取り組む課題
  ------------------------------ */
  .pc-bg-stress {
    background: #f5f5f5;
    height: 560px;
    width: 60%;
    position: absolute;
    top: 1110px;
    left: 0;
    z-index: -1; }

  .pc-bg-suicide {
    background: #f5f5f5;
    height: 500px;
    width: 60%;
    position: absolute;
    top: 1816px;
    right: 0;
    z-index: -1; }

  #issue .stress {
    background: none; }
    #issue .stress h3 {
      padding-top: 0;
      margin-left: 0; }
    #issue .stress img {
      top: 30px;
      left: 90%; }
    #issue .stress p {
      margin: 0 0 30px 0;
      max-width: 480px; }
  #issue .suicide {
    background: none;
    margin-right: 0; }
    #issue .suicide h3 {
      padding-top: 40px;
      margin-right: 0;
      margin-left: auto;
      max-width: 480px; }
    #issue .suicide img {
      top: 50px;
      left: -45%; }
    #issue .suicide p {
      margin: 0 0 30px auto;
      max-width: 480px; }

  /* ------------------------------
  わたしたちの主な取り組み
  ------------------------------ */
  #action .action-text {
    margin-left: 0;
    text-align: left; }
  #action #action-tab {
    box-shadow: none;
    display: flex;
    height: 560px;
    justify-content: space-around;
    max-width: none;
    width: 100%; }
    #action #action-tab ul {
      display: none; }
    #action #action-tab .action-box {
      position: relative; }

  /* ------------------------------
  わたしたちの主な実績
  ------------------------------ */
  #numbers .text-sm {
    text-align: left; }
  #numbers h3 {
    font: 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
    font-weight: bold;
    margin-bottom: 40px;
    text-align: left; }
  #numbers #numbers-tab {
    justify-content: space-around; }
  #numbers .numbers-situation .numbers-graph {
    width: 60%; }
  #numbers .numbers-situation .numbers-contact,
  #numbers .numbers-situation .numbers-respond {
    width: 40%;
    height: 500px;
    margin: 0 auto; }
  #numbers .numbers-situation .numbers-respond {
    padding-top: 250px; }
  #numbers .numbers-situation .contact-graph {
    width: 100px;
    height: 400px;
    transform: translateY(400px); }
  #numbers .numbers-situation .respond-graph {
    width: 100px;
    height: 150px;
    transform: translateY(150px); }
  #numbers .numbers-situation .numbers-text {
    width: 40%; }

  /* ------------------------------
  利用者・サポーターの声
  ------------------------------ */
  #voices h3 {
    font: 24px/1.5 "Zen Kaku Gothic New", "sans-serif";
    font-weight: bold;
    margin-bottom: 40px;
    text-align: left; }
  #voices .slide {
    width: 100%; }
    #voices .slide .slide-profile {
      width: 20%; }
    #voices .slide .slide-text-box {
      padding: 30px;
      width: 80%; }
    #voices .slide h4 {
      font: 24px/1.5 "Zen Kaku Gothic New", "sans-serif"; }

  /* ------------------------------
  ご寄付の活用方法
  ------------------------------ */
  .pc-bg-usage {
    background: #f5f5f5;
    height: 260px;
    width: 60%;
    position: absolute;
    top: 6744px;
    left: 0;
    z-index: -1; }

  #usage .usage-text {
    background: none; }
    #usage .usage-text p {
      margin: 0 0 30px 0;
      max-width: 540px; }
  #usage .usage-example {
    justify-content: space-around; }
    #usage .usage-example h3 {
      margin-bottom: 40px; }

  /* ------------------------------
  支援の方法
  ------------------------------ */
  #donate .supporter-logo {
    padding-top: 40px; }
  #donate .credit-img {
    padding-bottom: 40px; }
  #donate .orange {
    padding-top: 40px; }

  /* ------------------------------
  よくあるご質問
  ------------------------------ */
  #faq {
    margin-bottom: 100px; }
    #faq .faq-box {
      width: 100%; }
    #faq .orange-md,
    #faq .faq-q {
      line-height: 64px; }
    #faq .orange-md {
      margin-right: 0; }
    #faq .faq-a {
      margin-left: 76px; }

  /* ------------------------------
  もっと詳しく
  ------------------------------ */
  #info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 40px;
    width: 800px; }
    #info h3 {
      padding-top: 40px;
      width: 100%; } }
